.previews__wrapper
    .section-welcome
        .section__name What our clients say about us
        .section__title Lorem ipsum dolor sit amet consectetur.
        .section__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id neque et odio vulputate scelerisque ut non massa. Nullam vehicula.
    .previews-items
        +previews-item('previews-icon__default', 'Jhon Doe', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id neque et odio vulputate')
        +previews-item('previews-icon__default', 'Jhon Doe', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id neque et odio vulputate')
        +previews-item('previews-icon__default', 'Jhon Doe', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id neque et odio vulputate')
        +previews-item('previews-icon__default', 'Jhon Doe', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id neque et odio vulputate')
        +previews-item('previews-icon__default', 'Jhon Doe', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id neque et odio vulputate')
        +previews-item('previews-icon__default', 'Jhon Doe', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id neque et odio vulputate')
    .previews-actions
        a(class='button' href='/') Post review
        a(class='button button--more' href='/') More reviews