.coaching__wrapper
    .section-welcome
        .section__name Coaching Services
        .section__title Lorem ipsum dolor sit amet consectetur.
        .section__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id neque et odio vulputate scelerisque ut non massa. Nullam vehicula.
    .coaching-items
        +coaching-item('coaching-item__image--red', 'Private Coaching', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.')
        +coaching-item('coaching-item__image--brown', 'Group Lesson', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.')
        +coaching-item('coaching-item__image--cyan', 'School Lesson', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.')