// Fonts here

@font-face {
	font-family: 'Proxima Nova Cn Bl';
	src: url('/assets/fonts/ProximaNova/ProximaNovaCond-Black.eot');
	src: local('Proxima Nova Condensed Black'), local('ProximaNovaCond-Black'),
		url('/assets/fonts/ProximaNova/ProximaNovaCond-Black.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/ProximaNova/ProximaNovaCond-Black.woff') format('woff'),
		url('/assets/fonts/ProximaNova/ProximaNovaCond-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@mixin proxima-black {
    font-family: 'Proxima Nova Cn Bl';
}