.hero {
    &__wrapper {
        max-width: 910px;
        margin: 0 auto 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: rem(60);
        padding-bottom: rem(85);
    }

    &__content {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-bottom: rem(170);
    }

    &__descr {
        max-width: rem(328);
    }

    &__title {
        @include gabriela-regular;
        font-size: 50px;
        color: $main-cyan-color;
        line-height: 1.1;
    }

    &__text {
        @include nunito-light;
        font-size: 20px;
        color: $main-grey-color;
        line-height: 1;
    }

    &__buttons {
        display: flex;
        margin-top: 10px;
        margin-bottom: 12px;
    }

    &__note {
        @include nunito-light;
        font-size: 11px;
        color: $main-cyan-color;
    }
    // gellery
    &__gallery {
        background-image: url('../img/hero/hero_bg.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: rem(420);
        height: rem(526);
    }
}
@media screen and (max-width: $tableWidth) {
    .hero {
        &__wrapper {
            text-align: center;
        }

        &__content {
            flex-direction: column-reverse;
            padding-bottom: rem(50);
        }

        &__title {
            margin-top: rem(50);
            font-size: rem(30);
        }

        &__buttons {
            justify-content: center;
        }
    }
}

@media screen and (max-width: $phoneWidth) {
    .hero {
        
        &__wrapper {
            padding-top: 0;
        }

        &__title {
            margin-top: rem(25);
        }

        &__gallery {
            width: rem(300);
            height: rem(426);
        }
    }
}