.yoga__wrapper
    .section-welcome
        .section__name Yoga & Pilates
        .section__title Lorem ipsum dolor sit amet consectetur.
        .section__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id neque et odio vulputate scelerisque ut non massa. Nullam vehicula.
    .yoga-items
        +yoga-item('yoga__ic_1', 'Lorem Ipsum', 'Lorem ipsum dolor sit amet consectetur')
        +yoga-item('yoga__ic_2', 'Lorem Ipsum', 'Lorem ipsum dolor sit amet consectetur')
        +yoga-item('yoga__ic_3', 'Lorem Ipsum', 'Lorem ipsum dolor sit amet consectetur')
        +yoga-item('yoga__ic_1', 'Lorem Ipsum', 'Lorem ipsum dolor sit amet consectetur')
        +yoga-item('yoga__ic_2', 'Lorem Ipsum', 'Lorem ipsum dolor sit amet consectetur')
        +yoga-item('yoga__ic_3', 'Lorem Ipsum', 'Lorem ipsum dolor sit amet consectetur')
        +yoga-item('yoga__ic_1', 'Lorem Ipsum', 'Lorem ipsum dolor sit amet consectetur')
        +yoga-item('yoga__ic_2', 'Lorem Ipsum', 'Lorem ipsum dolor sit amet consectetur')
        +yoga-item('yoga__ic_3', 'Lorem Ipsum', 'Lorem ipsum dolor sit amet consectetur')
        +yoga-item('yoga__ic_1', 'Lorem Ipsum', 'Lorem ipsum dolor sit amet consectetur')
        +yoga-item('yoga__ic_2', 'Lorem Ipsum', 'Lorem ipsum dolor sit amet consectetur')
        +yoga-item('yoga__ic_3', 'Lorem Ipsum', 'Lorem ipsum dolor sit amet consectetur')
        +yoga-item('yoga__ic_1', 'Lorem Ipsum', 'Lorem ipsum dolor sit amet consectetur')
        +yoga-item('yoga__ic_2', 'Lorem Ipsum', 'Lorem ipsum dolor sit amet consectetur')
        +yoga-item('yoga__ic_3', 'Lorem Ipsum', 'Lorem ipsum dolor sit amet consectetur')