header.header
  .container
    .header__wrapper
      .logo
        a(class='logo__link' href='/')
      nav.nav
        ul.nav__list
          +navlink('/', 'Reviews')
          +navlink('/', 'Services')
          +navlink('/', 'Yoga')
          +navlink('/', 'How it work')
          +navlink('/', 'Pricing')
          +navlink('/', 'Team')
        a(class='button button--nav' href='/') Book Session