.hero__wrapper
    .hero__descr
        h1.hero__title Your Private Coach Fitness & Nutrition
        div.hero__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id neque et odio vulputate scelerisque ut non massa. Nullam vehicula.
        div.hero__buttons
            a(class='button' href='/') Book Now
            a(class='button button--more' href='/') Learn More
        div.hero__note Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    .hero__gallery