.services-wrapper
    +services-item('fitness__ic', 'Fitness', 'Lorem ipsum dolor sit amet consectetur')
    +services-item('cardio__ic', 'Cardio', 'Lorem ipsum dolor sit amet consectetur')
    +services-item('size__ic', 'Waist size', 'Lorem ipsum dolor sit amet consectetur')
    +services-item('apple__ic', 'Nutrition', 'Lorem ipsum dolor sit amet consectetur')
    +services-item('yoga__ic', 'Yoga', 'Lorem ipsum dolor sit amet consectetur')