extends ../layout/main

block variables
    - var title = 'Webpack + Pug';
    - var description = 'Description Webpack + Pug';
    - var pageClass = 'index-page';

block content
    section#hero.hero
        .container
            include ../includes/sections/hero/hero

    section#previews.previews
        .container
            include ../includes/sections/previews/previews

    section#coaching.coaching
        .container
            include ../includes/sections/coaching/coaching

    section#coupon.coupon
        .container
            include ../includes/sections/coupon/coupon

    section#yoga.yoga
        .container
            include ../includes/sections/yoga/yoga

    section#steps.steps
        .container
            include ../includes/sections/steps/steps

    +item('item title', 'item descr')
    p.test Proba pera
    example-component    