extends ../layout/main

block variables
    - var title = 'Webpack + Pug';
    - var description = 'Description Webpack + Pug';
    - var pageClass = 'index-page';

block content
    section#hero
        .container
            include ../includes/modules/hero/hero
        
            +item('item title', 'item descr')
            p.test Proba pera
            example-component    