.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-red-color;
    border: 1px $main-red-color solid;
    font-size: rem(14);
    @include nunito-light;
    color: #ffffff;
    width: 132px;
    height: 50px;
    @include transition-effect;
    text-decoration: none;
    &--nav {
        width: 125px;
        height: 31px;
    }
    &--more {
        border: 1px solid $main-cyan-color;
        background-color: transparent;
        color: $main-cyan-color;
        margin-left: 12px;
        &:hover, &:focus {
            background-color: $main-grey-color;
        }
    }
    &:hover, &:focus {
        background-color: lighten($main-red-color, 3%);
    }
}

.ic {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-title {
    @include nunito-regular;
    font-size: 15px;
    color: $main-red-color;
} 