.coupon__wrapper
    .coupon__content
        .coupon__title Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .coupon__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id neque et odio vulputate scelerisque ut non massa. 
    .coupon__action
        .button.button--coupon Get Coupon