.steps__wrapper
    +steps-item('steps_image_1','steps-content__title--red', 'Book your session', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id neque et odio vulputate scelerisque ut non massa. Nullam vehicula.', 'button--step_red', 'Princing')
    +steps-item('steps_image_2', 'steps-content__title--cyan', 'Meet your coach', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id neque et odio vulputate scelerisque ut non massa. Nullam vehicula.', 'button--step_cyan', 'Our Team')
    +steps-item('steps_image_3', 'steps-content__title--brown', 'Enjoy and relax', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id neque et odio vulputate scelerisque ut non massa. Nullam vehicula.', 'button--step_brown', 'Book Now')