.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    &__list {
        display: flex;
        margin-right: rem(95);
    }
    &__item {
        display: inline-block;
        padding: rem(10);
    }
    &__link {
        @include nunito-light;
        font-size: rem(14);
        color: $link-color;
        @include transition-effect;
        &:hover, &:focus {
            color:$main-red-color;
        }
    }
}
.mburger {
    width: 80px;
    height: 80px;
    --mb-bar-height: 2px;
}
.mm-listview {
    display: flex;
    align-items: flex-start;
}

@media screen and (min-width: 769px) {
    .mburger {
        display: none;
    }
}

@media screen and (max-width: $tableWidth) {
    .mburger {
        display: inline-block;
    }
    .menu-list {
        display: none;
    }
    .button--nav {
        margin: auto;
    }
}

@media screen and (max-width: $phoneWidth) {
    .mburger {
        width: auto;
        height: 46px;
    }
}
